@import url('site/style-light.css'); /* берём всю типографику */

/* –––– ТЁМНАЯ СХЕМА ТОЛЬКО ДЛЯ index.html –––– */
body {
	background: #1d1d1f;
	color: #e5e5e7;
}
a {
	color: #61dafb;
}
a:hover {
	text-decoration: underline;
}
.main-menu,
.footer {
	background: #2b2b2e;
}
